<div>
  <div class="w-1/2 mx-auto rounded mt-10">
    <div data-controller="search" data-search-url-value="<%= documents_path %>" class="relative">
      <input class="border-2 border-gray-200 p-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md text-lg"
        placeholder="search here"
        data-search-target="input"
        data-action="input->search#search"/>
      <div class="hidden mt-8 z-50 bg-white border-b border-l border-r border-gray-200 w-full absolute top-4 rounded-b px-4 pt-4 shadow"
          data-search-target="results">
      </div>
    </div>
  </div>
</div>
