<div class="border border-yellow-300 bg-yellow-200 rounded-lg p-8 mx-48">
  <div class=" text-center text-yellow-700">
    You need an API token from Alpha Vantage for this demo to work. You can get a free one
    <a href="https://www.alphavantage.co/support/#api-key" class="text-blue-500">here.</a>
  </div>
  <div class=" text-center text-yellow-700">
    Once you have your key, add it to the Rails credentials file
  </div>
  <div class="mt-4">
    <div class="font-mono bg-gray-100 p-0.5">$ rails credentials:edit</div>
    <div class="font-mono bg-gray-100 p-0.5 mt-2">
      <div>alpha_vantage:</div>
      <div class="ml-4">api_key: <span class="text-gray-500">&lt;YOUR KEY HERE&gt;</span></div>
    </div>
  </div>
</div>